.proposal__logo {
  background-image: url(../../../src/images/contacts_logo.png);
  background-repeat: no-repeat;
  background-size: contain;
  min-height: 90px;
  width: 100px;
  align-self: flex-end;
  animation: rotate 10s linear infinite;
}

@media screen and (max-width: 830px) {

  .proposal__logo {
    min-height: 70px;
    width: 70px;
  }

}
