.footer__logo {
  background-image: url(../../../src/images/footer_logo.png);
  background-repeat: no-repeat;
  background-size: contain;
  min-height: 90px;
  width: 90px;
  margin: 0 auto;
}


@media screen and (max-width: 596px) {
  .footer__logo{
    min-height: 70px;
    width: 70px;
  }
}
