.body {
  background-color: #000000;
}

.page {
  min-width: 320px;
  color: white;
  font-family: Inter, Arial, sans-serif;
}

.page__content {
  margin: 0 auto;
  padding: 0 10px;
}

.header {
  margin: 0 auto;
  padding: 100px;
}

.header__logo {
  background-image: url(./images/logo.png);
  background-repeat: no-repeat;
  background-size: contain;
  min-height: 90px;
}

.main {
  padding: 10px;
}

.nav {
  height: 55vh;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 10px;
  padding: 10px;
}

.grid {
  border-radius: 65px;
  padding: 50px;
}

.grid_blue {
  background-color: #2900e8;
  grid-row-start: 1;
  grid-row-end: 4;
}

/* .grid_blue:hover {
  cursor: pointer;
} */

.grid_white {
  background-color: #fff;
}

.grid_black {
  background-color: #1b1b1f;
}

.grid_yellow {
  background-color: #fff480;
  grid-column-start: 2;
  grid-column-end: 4;
}

.proposal {
  height: 471px;
  display: flexbox;
  flex-direction: row;
  color: #a5a1ff;
}

.proposal__text-container {
  display: flexbox;
  flex-direction: column;
}

.text {
  font-size: 17px;
}

.text2 {
  font-size: 60px;
}

.proposal_logo {
  /* background-image: url(./images/logo.png); */
  background-repeat: no-repeat;
  background-size: contain;
  min-height: 90px;
}

.sliders {
  border: 1px solid yellow;
}

.contacts {
  border: 1px solid yellow;
}

.footer {
  border: 1px solid yellow;
}
