.cell__text-small {
  margin: 10px 0;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
}

@media screen and (max-width: 769px) {
  .cell__text-small {
    opacity: 1;
    font-size: 16px;
  }
}


