.nav__square {
  position: absolute;
  top: 45%;
  left: 30%;
  background-image: url(../../../src/images/square.png);
  background-size: contain;
  min-height: 75px;
  width: 75px;
  animation: move 8s linear infinite;
  opacity: 0.5;
}

@media screen and (max-width: 769px) {
  .nav__square {
    opacity: 0;
  }
}
