.contact-us__input {
  background-color: #1d1c16;
  color: #fff480;
  padding: 42px 48px;
  border: none;
  border-radius: 60px;
  outline: none;
  font-size: 20px;
  font-weight: bold;
}

.contact-us input::placeholder {
  color: #fff480;
}


@media screen and (max-width: 978px) {
  .contact-us__input {
    padding: 30px 48px;
    font-size: 16px;
  }

}

@media screen and (max-width: 899px) {
  .contact-us__input {
    grid-column-start: 1;
    grid-column-end: 4;
  }

}

@media screen and (max-width: 726px) {
  .contact-us__input {
    padding: 20px 30px;
    font-size: 14px;
  }

}

