.contact-us__input {
  background-color: #1d1c16;
  color: #fff480;
  padding: 42px 48px;
  border: none;
  border-radius: 60px;
  outline: none;
  font-size: 20px;
  font-weight: bold;
}

.contact-us input::placeholder {
  color: #fff480;
}

.contact-us #message {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 5;
  padding: 42px 0 48px 42px;
}


