.cell__text-huge {
  font-size: 90px;
  margin: 40px 0;
  animation: marquee 10s linear infinite;
}

@media screen and (max-width: 769px) {
  .cell__text-huge{
    font-size: 54px;
  }
}

@media screen and (max-width: 716px) {
  .cell__text-huge{
    animation: none;
  }
}


@media screen and (max-width: 470px) {
  .cell__text-huge{
    font-size: 36px;
  }
}
