.header__logo {
  background-image: url(../../../src/images/logo.png);
  background-repeat: no-repeat;
  background-size: contain;
  min-height: 90px;
  max-width: 290px;
  margin: 0 auto;
}


@media screen and (max-width: 596px) {
  .header__logo{
    min-height: 70px;
    max-width: 200px;
  }
}
