.proposal__links {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 1fr;
  grid-gap: 20px;
}

.proposal__links a {
  color: #fff480;
  border: 3px solid #fff480;
  background-color: #1d1c16;
  padding: 20px 30px;
  border-radius: 60px;
  text-decoration: none;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}


.proposal__links a:hover {
  background-color: #fff480;
  color: #1d1c16;
  font-weight: bold;
  transition: 0.5s linear;
}

@media screen and (max-width: 1022px) {
  .proposal__links a {
    padding: 20px 30px;
    font-size: 16px;
  }
}



@media screen and (max-width: 830px) {

  .proposal__links {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }

  .proposal__links a {
    padding: 20px 30px;
    font-size: 14px;
    border: 2px solid #fff480;
  }



}

@media screen and (max-width: 762px) {

  .proposal__links {
    grid-gap: 10px;
  }

  .proposal__links a {
    padding: 10px 20px;
  }

}


@media screen and (max-width: 578px) {

  .proposal__links {
    grid-gap: 5px;

}


}
