.cell__container-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 30px;
  align-items: center;
}

@media screen and (max-width: 769px) {
  .cell__container-top {
    font-size: 24px;

  }
}


@media screen and (max-width: 470px) {
  .cell__container-top{
    font-size: 18px;
  }
}
