@import url(./__btn/_inactive/contact-us__btn_inactive.css);
@import url(./__btn/contact-us__btn.css);
@import url(./__error-msg/_active/contact-us__error-msg_active.css);
@import url(./__error-msg/contact-us__error-msg.css);
@import url(./__error-style/contact-us__error-style.css);
@import url(./__form/contact-us__form.css);
@import url(./__input/contact-us__input.css);


.contact-us {
  background-color: #000000;
  padding: 10px 40px;
}

.contact-us #message {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 5;
  padding: 42px 48px;
}



@media screen and (max-width: 899px) {

  .contact-us #message {
    grid-row-start: 4;
    grid-row-end: 6;
}
}

@media screen and (max-width: 772px) {

  .contact-us #message {
    grid-row-start: 4;
    grid-row-end: 6;
}
}

@media screen and (max-width: 726px) {
  .contact-us #message {
    padding: 42px 48px 42px 30px;
    border-radius: 30px;
  }
}
