.proposal__links_linkedin {
  background-image: url(../../../../src/images/linkedin_logo.png);
  background-repeat: no-repeat;
  background-size: contain;
  min-height: 30px;
  max-width: 30px;
  margin: 0 auto;
}
