.proposal__links_tel {
  margin: 5px;
  grid-column-start: 3;
  grid-column-end: 6;
}


@media screen and (max-width: 725px) {

  .proposal__links_tel {
    grid-column-start: 1;
    grid-column-end: 4;

}

}
