.nav__round {
  position: absolute;
  top: 20%;
  left: 40%;
  background-image: url(../../../src/images/round.png);
  background-repeat: no-repeat;
  background-size: contain;
  min-height: 80px;
  width: 80px;
  animation: move 5s linear infinite;
  opacity: 0.5;
}

@media screen and (max-width: 769px) {
  .nav__round {
    opacity: 0;
  }
}
